<main>
  <article>

    <!--
      - #SERVICE
    -->

    <section class="section service has-bg-image" aria-labelledby="service-label"
             style="background-image: url('assets/images/service-bg.png')">
      <div class="container">

        <h2 class="section-title headline-md text-center" id="service-label">Mes Services</h2>

        <ul class="service-list">

          <li class="card-container">
            <div class="card card-md" style="background-color: hsl(177, 39%, 72%)">

              <div class="card-media">
                <ion-icon name="phone-portrait-outline" aria-hidden="true"></ion-icon>
              </div>

              <div>
                <h3 class="card-title title-sm">Responsive Design</h3>

                <p class="body-sm">
                  Je suis spécialisé dans la création de designs réactifs et orientés 'mobile first' pour les sites web, garantissant une expérience optimale sur tous les appareils.</p>
              </div>

            </div>
          </li>

          <li class="card-container">
            <div class="card card-md" style="background-color: hsl(41, 99%, 64%)">

              <div class="card-media">
                <ion-icon name="laptop-outline" aria-hidden="true"></ion-icon>
              </div>

              <div>
                <h3 class="card-title title-sm">Development app web</h3>

                <p class="body-sm">
                  Je me spécialise dans le développement d'applications web (site  de vos factures par ex), créant des solutions sur mesure pour répondre à vos besoins.
                </p>
              </div>

            </div>
          </li>

          <li class="card-container">
            <div class="card card-md" style="background-color: hsl(19, 97%, 85%)">

              <div class="card-media">
                <ion-icon name="stats-chart-outline" aria-hidden="true"></ion-icon>
              </div>

              <div>
                <h3 class="card-title title-sm">SEO Marketing</h3>

                <p class="body-sm">
                  Mon expertise en SEO Marketing garantit l'optimisation de votre visibilité en ligne et de votre classement dans les moteurs de recherche.
                </p>
              </div>

            </div>
          </li>

          <li class="card-container">
            <div class="card card-md" style="background-color: hsl(76, 39%, 72%)">

              <div class="card-media">
                <ion-icon name="code-slash-outline" aria-hidden="true"></ion-icon>
              </div>

              <div>
                <h3 class="card-title title-sm">Site E-commerce</h3>

                <p class="body-sm">
                  J'ai de l'expérience dans la création de sites e-commerce, vous aidant à développer une présence en ligne efficace pour votre entreprise.
                </p>
              </div>

            </div>
          </li>

        </ul>

      </div>
    </section>

  </article>
</main>
